
h1{
	font-size: 40px;
} 
h2{
	font-size: 30px;
} 

body{
	font-family: 'Poppins', sans-serif; 
	margin: 0;
}

.pink-highlight{
	color: pink;
}
.half-width{
	width: 40%;
	float: left;
	margin-left: 5%;
	padding-left: 2%;
}
.half-width img{
	width: 100%; 
	border: 5px solid pink;
	border-radius: 50px;
}
.three-fourth-width{
	width: 25%;
	float: left;
	margin-top: 5%;
	margin-left: 5%;
	padding-left: 2%; 
}
.three-fourth-width img{
	width: 100%; 
	border-radius: 10px;
	
}
.top-banner{
	background-image: url("images/header-bg.png"); 
	background-repeat: no-repeat;
} 
section{
	height: 500px; 
	padding-bottom: 150px;
}
.link-button{
	text-decoration: none;
	background-image: linear-gradient(45deg, lightSalmon, tomato);
	padding: 10px 20px;
	border-radius: 10px;
	color: white;
	font-weight: 700;
}
.biography-area{
	background-image: url("images/biography-bg.png"); 
	background-repeat: no-repeat;
	background-position: right;
}
.work-area{
	background-image: url("images/latest-work-bg.png"); 
	background-repeat: no-repeat;
	background-position: center;
}  
.work-area h2{
	text-align: center;
} 
.client-area p{
	text-align: center;
}
.client-area h2{
	text-align: center;
} 
.client-area{
	background-image: url("images/footer-bg.png"); 
	background-repeat: no-repeat;
	background-position: left;
} 
.client-area .mail-box{
	
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
	
}
.mail-box{
	text-align: center;
	background-color: pink;
	border-radius: 10px;
	width: 700px;
	border: 15px solid pink;
	padding: 50px;
	margin: 20px;
}
footer p{
	text-align: center;
	font-size: 12px;
}
